body {
    background-color: #03045e;
    position: relative;
}

.header {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: auto;
    color: #fff;
}

#dashboard-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px; */
}

#weather-container {
    flex: 1;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    margin: 0 12px 0 12px;
    max-width: 450px;
}

#weather-container:nth-child(1) {
    order: 2;
}

#sidebar {
    background-color: #fff;
    border-radius: 12px;
    margin-left: 12px;
}

#search-form {
    padding: 6px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: auto;
    color: #fff;
}